/* CarouselComponent.module.css */

.sliderContainer {
  width: 90%;
  margin: auto;
  overflow: visible; /* Changed from hidden to visible to allow parts of the next images to be seen */
  padding: 0 0; /* Adjust as needed */
}

.imageContainer {
  width: 100%;
  margin-left: 50%;
  margin-right: 15px;
}

.imageContainer img {
  height: 330px; /* Uniform height for all images */
  width: 90%;
  display: block;
  /* Ensure images are block level to avoid bottom space */
}

.elementDetails {
  width: 80%;
}
.title {
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 500;
}

.description {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 17px;
}

@media (max-width: 960px) {
  .elementDetails {
    width: 60%;
  }
}
